rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}/counters/{counterId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      allow read: if request.auth != null
                  && request.auth.token.email != null
                  && request.auth.token.email in resource.data.sharedWith;

      match /history/{historyId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
        allow read: if request.auth != null
                    && request.auth.token.email != null
                    && request.auth.token.email in get(
                        /databases/$(database)/documents/users/$(userId)/counters/$(counterId)
                    ).data.sharedWith;
      }
    }

    match /shares/{email}/counters/{counterId} {
      allow read: if request.auth != null && request.auth.token.email == email;
      allow create: if request.auth != null
                    && request.resource.data.ownerUid == request.auth.uid;
      allow delete: if request.auth != null
                    && resource.data.ownerUid == request.auth.uid;
    }

    match /users/{userId}/fastwatches/{fastwatchId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      allow read: if request.auth != null
                  && request.auth.token.email != null
                  && request.auth.token.email in resource.data.sharedWith;
    }

    match /shares/{email}/fastwatches/{fastwatchId} {
      allow read: if request.auth != null && request.auth.token.email == email;
      allow create: if request.auth != null
                    && request.resource.data.ownerUid == request.auth.uid;
      allow delete: if request.auth != null
                    && resource.data.ownerUid == request.auth.uid;
    }
  }
}
